---
---

@import "portfolYOU";

%outline-none {
    outline: none;
}

a {
    &,
    &:focus,
    &:active {
        @extend %outline-none;
    }

    &.article:hover {
        text-decoration: none;
    }

    &.undecorated {
        &::after {
            display: none !important;
        }

        &:hover {
            color: #0062cc !important;
        }
    }
}

button {
    &,
    &:focus,
    &:active {
        @extend %outline-none;
    }
}

img {
    &.circle-image {
        width: 95%;
        height: 95%;
        display: inline-block;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        -webkit-box-shadow: 0 0 0 0.3618em rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 0 0.3618em rgba(0, 0, 0, 0.05);
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
}

.link-after,
.nav-link::after,
.navbar-brand::after,
.nav-item.active::after {
    display: none;
}

input.search-box {
    border-radius: 0 !important;
}

ul#results-container {
    margin-right: 49px;

    a,
    li {
        border-radius: 0 !important;
    }
}

.b-r-0 {
    border-radius: 0 !important;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

/* Heartbeat */
.fa-heart.text-danger {
    animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
    0% {
        transform: scale(0.75);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(0.75);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(0.75);
    }

    100% {
        transform: scale(0.75);
    }
}

/* B4 Hamburger Menu */
.navbar-toggler {
    border: 0;
    padding: 0;

    .top-bar {
        margin-top: 0;
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }

    .middle-bar {
        opacity: 0;
    }

    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }

    &.collapsed .top-bar {
        margin-top: 0;
        transform: rotate(0);
    }

    &.collapsed .middle-bar {
        opacity: 1;
    }

    &.collapsed .bottom-bar {
        transform: rotate(0);
    }
}

.icon-bar {
    width: 22px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    transition: all 0.2s;
    margin-top: 4px;
}

#mainNav {
    @media (max-width: 991px) {
        .navbar-nav {
            margin-top: 10px;
        }

        .nav-link {
            padding: 0.25rem 0;
        }
    }
}
